body{
margin:0;
font-family:Arial;
background:#f4f6f9;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#0d1b2a;
padding:15px 40px;
color:white;
}

.logo-area{
display:flex;
align-items:center;
gap:10px;
}

.logo{
width:45px;
}

.menu{
display:flex;
align-items:center;
gap:15px;
}

.menu button{
background:#007BFF;
border:none;
color:white;
padding:8px 14px;
border-radius:6px;
cursor:pointer;
}

.menu a{
background:#007BFF;
color:white;
padding:8px 14px;
text-decoration:none;
border-radius:6px;
}

/* HERO */

.hero{
background:linear-gradient(120deg,#007BFF,#00b4ff);
color:white;
text-align:center;
padding:60px;
}

.hero h1{
margin:0;
font-size:40px;
}

/* PRODUCTOS */

.products{
display:flex;
justify-content:center;
gap:40px;
padding:40px;
flex-wrap:wrap;
}

.card{
background:white;
width:220px;
padding:20px;
border-radius:12px;
text-align:center;
box-shadow:0px 6px 15px rgba(0,0,0,0.15);
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

.card img{
width:80px;
margin-bottom:10px;
}

.card button{
background:#007BFF;
border:none;
color:white;
padding:10px;
width:100%;
border-radius:6px;
cursor:pointer;
}

/* CARRITO */

.cart-panel{
position:fixed;
right:-320px;
top:0;
width:320px;
height:100%;
background:white;
box-shadow:-4px 0 10px rgba(0,0,0,0.2);
padding:20px;
transition:0.4s;
}

.cart-panel.active{
right:0;
}
/* LOGIN PAGE */

.login-page{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:linear-gradient(135deg,#007BFF,#00b4ff);
font-family:Arial;
}

.login-container{
background:white;
padding:40px;
border-radius:12px;
width:350px;
text-align:center;
box-shadow:0px 8px 20px rgba(0,0,0,0.2);
}

.logo{
width:120px;
margin-bottom:15px;
}

.login-container input{
width:90%;
padding:12px;
margin:10px 0;
border-radius:6px;
border:1px solid #ccc;
}

.login-container button{
width:95%;
padding:12px;
margin-top:10px;
background:#007BFF;
border:none;
color:white;
border-radius:6px;
cursor:pointer;
font-size:15px;
}

.login-container button:hover{
background:#0056b3;
}