body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#222;
color:white;
padding:15px 30px;
}

.menu a{
background:#007BFF;
color:white;
padding:8px 12px;
margin-left:10px;
text-decoration:none;
border-radius:5px;
}

.menu button{
background:#007BFF;
color:white;
border:none;
padding:8px 12px;
margin-left:10px;
border-radius:5px;
cursor:pointer;
}

/* PRODUCTOS */

.container{
display:flex;
gap:30px;
justify-content:center;
margin-top:40px;
flex-wrap:wrap;
}

.card{
background:white;
width:200px;
padding:20px;
border-radius:10px;
text-align:center;
box-shadow:0px 4px 10px rgba(0,0,0,0.1);
}

.card button{
background:#007BFF;
color:white;
border:none;
padding:10px;
border-radius:5px;
cursor:pointer;
width:100%;
}

/* CARRITO */

.cart-panel{
position:fixed;
right:-300px;
top:0;
width:300px;
height:100%;
background:white;
box-shadow:-3px 0px 10px rgba(0,0,0,0.2);
padding:20px;
transition:0.3s;
}

.cart-panel.active{
right:0;
}

.cart-panel ul{
list-style:none;
padding:0;
}